<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <style type="text/css">
        .flex-start {
            display: flex;
            flex-direction: row;
        }
        .color-input, .reg-input {
            width: 32rem;
        }
        .json-output {
            word-wrap: break-word;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="container" class="container">
        <div class="tabs">
            <ul>
              <li :class="{'is-active' : idx === index}" v-for="(e, idx) in tabs" @click="index = idx">
                <a>{{e}}</a>
              </li>
            </ul>
        </div>
        <div class="content" v-if="index === 0">
            <div class="field">
                <label class="label">输入待转换颜色</label>
                <div class="control">
                    <input class="input color-input" v-model="rgbInput" type="text" placeholder="输入: rgb(0, 0, 0) 或 rgba(0, 0, 0, 0) 或 #000000"/>
                </div>
            </div>
            <div class="flex-start">
                <div :style="'width:1.6rem;border:.07rem solid #eee;background-color:' + colorHex + ';'"></div>&nbsp;&nbsp;
                <div>{{colorHex}}</div>
            </div>
        </div>
        <div class="content" v-if="index === 1">
            <div class="field">
                <label class="label">输入要匹配的字符串</label>
                <div class="control">
                    <input class="input reg-input" v-model="regExample" type="text" placeholder="e.g http://ya-b.github.io"/>
                </div>
            </div>
            <div class="field">
                <label class="label">输入正则表达式</label>
                <div class="control">
                    <input class="input reg-input" v-model="regInput" type="text" placeholder="e.g [http|https]://([0-9a-z\-]*\.){1,2}[a-z\-]{2,3}$"/>
                </div>
                <p class="help">{{regResult}}</p>
            </div>
        </div>
        <div class="content" v-if="index === 2">
            <div class="field">
                <label class="label">输入待格式化json字符串</label>
                <div class="control">
                    <textarea class="textarea" v-model="jsonInput"></textarea>
                </div>
              </div>
            <pre class="json-output" v-if="jsonOutput">{{jsonOutput}}</pre>
        </div>
        <div class="content" v-if="index === 3">
            <div class="field">
                <label class="label">输入待转换文字</label>
                <div class="control">
                    <input class="input color-input" v-model="qrText" type="text" placeholder="e.g http://ya-b.github.io"/>
                </div>
            </div>
            <div class="field">
                <label class="label">输入生成图片大小</label>
                <div class="control">
                    <input class="input color-input" v-model.number="qrWidth" type="number" placeholder="e.g 128"/>
                </div>
            </div>
            <div class="control">
                <button class="button is-primary" @click="saveQrImg(qrImg)">保存</button>
            </div>
            <img :src="qrImg"/>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/hex-and-rgba@1.4.2/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.2/build/qrcode.min.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#container',
            data: {
                index: 0,
                tabs: ['颜色转换', '正则验证', 'json格式化', '二维码生成'],
                rgbInput: '',
                jsonInput: '',
                regInput: '',
                regExample: '',
                qrText: '',
                qrImg: '',
                qrWidth: 128
            },
            computed: {
                colorHex: function () {
                    let input = this.rgbInput.replace(/^\s/g, '').replace(/\s$/g, '')
                    let patternRGB = new RegExp('\\s*rgb\\((\\s*\\d+\\s*,){2,2}\\s*\\d+\\s*\\)')
                    let patternRGBA = new RegExp('\\s*rgba\\((\\s*\\d+\\s*,){3,3}\\s*[01]{0,1}(\\.\\d+\\s*){0,1}\\)')
                    if (!this.rgbInput) {
                        return '未输入'
                    }
                    if (patternRGB.test(input) || patternRGBA.test(input)) {
                        return hexAndRgba.rgbaToAHex(hexAndRgba.rgbaToArray(input))
                    }
                    if (hexAndRgba.isValidHex(input)) {
                        let arr = hexAndRgba.aHexToRgba(input)
                        if (input.length === 9) {
                            return 'rgba(' + arr.join(',') + ')'
                        }
                        return 'rgb(' + arr.slice(0, 3).join(',') + ')'
                    }
                    return '输入错误'
                },
                jsonOutput: function () {
                    if (!this.jsonInput) return ''
                    let json
                    try {
                        json = JSON.stringify(JSON.parse(this.jsonInput),null,2)
                    } catch (error) {
                        json = error
                    }
                    return json
                },
                regResult: function () {
                    if (!(this.regInput && this.regExample)) {
                        return null
                    }
                    let reg
                    try {
                        reg = new RegExp(this.regInput)
                    } catch (error) {
                        console.log(error)
                    }
                    return reg ? reg.test(this.regExample) : false
                }
            },
            watch: {
                qrText: function (newVal) {
                    this.genQr(newVal, this.qrWidth)
                },
                qrWidth: function (newVal) {
                    this.genQr(this.qrText, newVal)
                }
            },
            methods: {
                genQr: function (text, width) {
                    if (text && width) {
                        let that = this
                        QRCode.toDataURL(text, {width: width, margin: 0}, function (err, url) {
                            that.qrImg = url
                        })
                    }
                },
                saveQrImg: function (qrImg) {
                    let a = document.createElement('a')
                    let event = new MouseEvent('click')
                    a.download = 'qr.png'
                    a.href = qrImg
                    a.dispatchEvent(event)
                }
            }
        })
    </script>
</body>
</html>